.row{
    display:flex;
    justify-content:center;
}
.col{
  width:30%;
}
.logincontent{
 box-shadow:0 0 50px #ccc;
  background:white;
  border-radius:10px;
  padding: 20px;
}
    .loginhead{
text-align:center;
padding:20px;
}
.loginhead h2{
font-weight:300;
}

#function {
padding:0px 20px;
}
#function input{
width:90%;
padding:20px;
border-radius:5px;
border:1px solid #ccc;
margin-top: 10px;
}
#function input:focus{
outline:0;
font-size:15px;
}
.pass{
padding:10px 0;
}
.btn{
display:inline-block;
text-decoration:none;
color:white;
background-color:#1877f2;
padding:12px;
text-align:center;
width:100%;
border:none;
border-radius:6px;
font-size:20px;
}

.para {
padding:20px;
}	
.para h2{
text-align:center;
font-size:18px;
font-weight:300;
}
.para a{
text-decoration:none;

}
h1{
    text-align:center;
    color:#1877f2;
    font-size:60px;	
    padding:50px 0  0px 0;
    }
 button .link{
     color:white;
     text-decoration: none;
 }   
 .loginpara{
    color: red;
 }