.btn2{
    text-decoration:none;
    color:white;
    background-color:#1877f2;
    text-align:center;
    padding:15px 15px;
    border:none;
    border-radius:10px;
    font-size:20px;
    }
 .form{
    padding: 20px;
 }   